<!-- begin footer -->
<footer class="footer">

  <div class="footer__gallery">
    {% if site.data.settings.gallery %}
    <div class="gallery">
      {% for image in site.data.settings.gallery.gallery__images %}
      <div class="gallery__image">
        <img src="{{site.baseurl}}{{image.url}}" alt="{{image.alt}}" loading="lazy">
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer__partners">
          <h3 class="partners-heading">Project Partners</h3>
          <div class="partner-logos">
            <a href="https://inform.ac/" class="partner-logo" target="_blank">
              <img src="{{site.baseurl}}/images/partners/Inform-logo.jpg" alt="Inform" loading="lazy">
            </a>
            <a href="https://www.open.ac.uk/" class="partner-logo" target="_blank">
              <img src="{{site.baseurl}}/images/partners/OU-logo.jpg" alt="The Open University" loading="lazy">
            </a>
            <a href="https://religiondatabase.org/landing" class="partner-logo" target="_blank">
              <img src="{{site.baseurl}}/images/partners/DRH-logo.jpg" alt="Database of Religious History" loading="lazy">
            </a>
            <a href="https://www.ubc.ca/" class="partner-logo" target="_blank">
              <img src="{{site.baseurl}}/images/partners/UBC-logo.png" alt="University of British Columbia" loading="lazy">
            </a>
          </div>
        </div>
        <div class="footer__partners">
          <h3 class="partners-heading">Project Collaborators</h3>
          <div class="partner-logos">
            <a href="https://contern.org/" class="partner-logo" target="_blank">
              <img src="{{site.baseurl}}/images/partners/contern-logo.png" alt="CONTERN" loading="lazy">
            </a>
            <a href="https://wrldrels.org/" class="partner-logo" target="_blank">
              <img src="{{site.baseurl}}/images/partners/wrsp-logo.png" alt="WRSP" loading="lazy">
            </a>
          </div>
        </div>
        <div class="footer__info">
          <div class="footer-links">
            {% for item in site.data.settings.menu__settings.footer__items %}
            <a href="{{ site.baseurl }}{{ item.url }}" class="footer-link">{{ item.title }}</a>
            {% if forloop.last == false %}
            <span class="separator">|</span>
            {% endif %}
            {% endfor %}
          </div>
          <div class="grant-info">This project is funded by a <a href="https://www.templeton.org/grant/new-religiosity-and-the-digital-study-of-eudaimonia" target="_blank">John Templeton Foundation Grant</a> (project #63357)</div>
          <div class="copyright">
            <span class="year">{{site.time | date: '%Y'}} &copy; {{site.data.settings.title}}</span>
            <span class="separator">|</span>
            <span class="web-design">Web design by Daniel Wojahn</span>
          </div>
        </div>
        <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer -->