/* Expert Call */
.expert-call {
  background-color: #e5eaf0;
  padding: 48px 0;
  margin: 48px 0;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  color: var(--dark);

  @media only screen and (max-width: $mobile) {
    padding: 24px 0;
    margin: 24px 0;
  }

  .expert-call__box {
    margin: 0 auto;
    max-width: 780px;
    padding: 0 16px;

    @media only screen and (max-width: $mobile) {
      padding: 0 12px;
    }
  }

  .expert-call__areas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin: 24px auto;
    max-width: 700px;

    @media only screen and (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
      margin: 16px auto;
    }

    @media only screen and (max-width: 480px) {
      grid-template-columns: 1fr;
      gap: 12px;
      margin: 16px auto;
    }
  }

  .area-box {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h3 {
      color: var(--dark);
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      margin: 0;
    }
  }

  .expert-call__text {
    font-size: 18px;
    line-height: 1.7;
    color: var(--dark);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;

    p {
      color: var(--dark);
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      &.intro-text {
        font-size: 20px;
        margin-bottom: 8px;
        font-weight: 500;
        @media only screen and (max-width: $tablet) {
          font-size: 18px;
        }
      }

      &.honorarium {
        margin-top: 24px;
        font-style: italic;
        font-size: 14px;
        color: var(--text-muted-color);
        font-weight: 600;
        @media only screen and (max-width: $tablet) {
          font-size: 13px;
        }
      }

      a {
        color: var(--brand-color);
        font-weight: 500;
        border-bottom: 1px solid #E5EAF0;
        transition: all .25s;
        
        &:hover {
          color: #17B890;
          border-color: #17B890;
          text-decoration: underline;
        }

        @media only screen and (max-width: $mobile) {
          font-size: 16px;
        }
      }
    }

    a {
      color: var(--brand-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      @media only screen and (max-width: $tablet) {
        font-size: 16px;
      }
    }
  }

  a {
    color: var(--brand-color);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary-dark-color);
    }

    @media only screen and (max-width: $tablet) {
      font-size: 16px;
    }
  }
}
