.tagline {
  font-size: 1.4em;
  line-height: 1.3;
  color: var(--text-color);
  text-align: center;
  margin: 1em auto;
  max-width: 800px;
  font-family: $heading-font-family;
  font-weight: 500;
  position: relative;
  padding: 0.25em 0;
  
  &::before,
  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 60px;
    background: var(--brand-color);
    opacity: 0.3;
    margin: 0.5em auto;
  }
}
